<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <div layout:fragment="content" th:remove="tag">
      <h1>Welcome To Shabby LinkedIn</h1>
      <h2>
        This is a striped down, but better version of the oft-loved vanity site
        where you can engage in both humble, and not-so-humble forms of bragging
        and shameless self-promotion.
      </h2>
    </div>
  </body>
</html>
