<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body class="p-5 mt-4">
    <nav style="display: flex; justify-content: space-between; height: 20vh;">
      <h1 th:text="'Welcome ' + ${profile.profileName} + '!'">
        >
      </h1>
      <div>
        <a th:href="@{/posts}" class="btn btn-primary">Go To Feed</a>
        <a th:href="@{/logout}" class="btn btn-info">Logout</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <h2 class="py-3">Profile Image</h2>
          <div th:if="${imageId} != null">
            <img
              th:src="@{/images/{id}/(id=${imageId})}"
              class="pb-3"
              style="width: 30%;"
            />
          </div>
          <div class="mb-3" th:if="${imageId} == null">
            <img src="https://via.placeholder.com/150" alt="" />
          </div>
          <form
            method="POST"
            th:action="@{/images}"
            enctype="multipart/form-data"
          >
            <input type="file" name="file" id="file" />

            <input
              class="d-block mt-2"
              type="submit"
              th:value="${profile.profileImage} ? 'Change': 'Add'"
            />
          </form>
        </div>
        <div
          class="col-lg"
          style="
            display: flex;
            flex-direction: column;
            border: 5px papayawhip solid;
            border-radius: 5px;
          "
        >
          <div class="my-4">
            <h2 class="py-3">Your Skills</h2>
            <div th:if="${skills != null}" th:each="skill : ${skills}">
              <div class="my-2 p-2 d-flex justify-content-between">
                <span class="badge badge-info" th:text="${skill.name}"
                  >skill</span
                >
                <p class="font-weight-bold" th:text="Likes">
                  Endorsements:
                  <span th:text="${#lists.size(skill.endorsers)}"></span>
                </p>
              </div>
            </div>
            <form
              class="form-inline my-3"
              method="POST"
              th:action="@{/{profileName}/skills/(profileName=${profile.profileName})}"
            >
              <input
                class="form-control mr-sm-2"
                name="skillName"
                placeholder="Enter Skill Name"
                aria-label="Skill"
              />
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Add
              </button>
            </form>
          </div>

          <h2>Existing Connections</h2>
          <div class="my-3" th:if="${#lists.size(connections) == 0}">
            <p class="text-muted">You haven't connected with anyone yet</p>
          </div>
          <div class="my-3" th:if="${connections} != null">
            <div th:each="connection : ${connections}">
              <div class="card-body">
                <h5 class="card-title" th:text="${connection.profileName}">
                  profile name
                </h5>
                <a
                  th:href="@{/users/{profileName}/(profileName=${connection.profileName})}"
                  class="btn btn-primary"
                  >View Profile</a
                >
                <form
                  class="d-inline"
                  method="POST"
                  th:action="@{/connections/disconnect/(currentUserId=${profile.id}, otherId=${connection.id})}"
                >
                  <button class="btn btn-warning my-2 my-sm-0" type="submit">
                    Disconnect
                  </button>
                </form>
              </div>
            </div>
          </div>
          <h2>Requests</h2>

          <div
            class="my-3"
            th:if="${#lists.size(profile.receivedRequests) == 0}"
          >
            <p class="text-muted">You have no pending connection requests</p>
          </div>
          <p
            class="text-muted"
            th:if="${#lists.size(profile.receivedRequests) > 0}"
          >
            These users have requested to connect with you
          </p>
          <div th:each="request : ${profile.receivedRequests}">
            <div
              th:if="${request.accepted} == false"
              class="card my-2"
              style="width: 18rem;"
            >
              <div class="card-body">
                <h5
                  class="card-title"
                  th:text="${request.requestSource.profileName}"
                >
                  profile name
                </h5>
                <form
                  class="d-inline"
                  method="POST"
                  th:action="@{/connections/accept/(requestSourceId=${request.requestSource.id},requestTargetId=${profile.id})}"
                >
                  <button class="btn btn-info my-2 my-sm-0" type="submit">
                    Accept
                  </button>
                </form>
                <form
                  class="d-inline"
                  method="POST"
                  th:action="@{/connections/disconnect/(currentUserId=${profile.id}, otherId=${request.requestSource.id})}"
                >
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                    Decline
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="py-3 mt-4">Explore Profiles</h2>
    <form
      class="form-inline"
      method="GET"
      th:action="@{/profile/{profileName}(profileName=${profile.profileName})}"
    >
      <input
        class="form-control mr-sm-2"
        type="search"
        name="searchTerm"
        placeholder="Search By Username"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
      <button class="btn btn-outline-success mx-1 my-4 my-sm-0" type="submit">
        List All
      </button>
    </form>

    <article class="results mt-5 py-3" th:if="${results} != null">
      <h2 class="pb-3">Profiles Found:</h2>
      <p class="text-muted">
        You will be able to view a profile once the connection request has been
        accepted
      </p>
      <div class="d-flex">
        <ul th:each="user : ${results}">
          <div class="card" style="width: 18rem;">
            <div th:if="${user.profileImage} != null">
              <img
                th:src="@{/images/{profileName}/(profileName=${user.profileName})}"
                class="pb-3"
                style="
                  width: 100%;
                  height: 200px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </div>
            <div class="card-body">
              <h5 class="card-title" th:text="${user.profileName}">
                profile name
              </h5>
              <div th:if="${#lists.contains(connections, user)}">
                <a
                  th:href="@{/users/{profileName}/(profileName=${user.profileName})}"
                  class="btn btn-primary"
                  >View Profile</a
                >
              </div>
              <form
                class="d-inline"
                method="POST"
                th:action="@{/connections/new/(requestSourceId=${profile.id},requestTargetId=${user.id})}"
              >
                <button
                  th:if="${not #lists.contains(pending, user.id) and not #lists.contains(connections, user)}"
                  class="btn btn-secondary my-2 my-sm-0"
                  type="submit"
                >
                  Connect
                </button>
              </form>
              <span
                th:if="${#lists.contains(pending, user.id)}"
                class="badge badge-warning"
              >
                Pending Acceptance
              </span>
            </div>
          </div>
        </ul>
      </div>
    </article>
  </body>
</html>
