<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="m-5">
      <h1>Feed</h1>
      <a
        th:href="@{/profile/{profileName}/(profileName=${currentUser.profileName})}"
        class="btn btn-primary my-3"
        >Back To Profile</a
      >
      <p class="text-muted">Posts by you and your connections</p>
      <div
        class="d-flex flex-row"
        th:if="${posts} != null"
        th:each="post : ${posts}"
      >
        <div
          th:if="${#lists.contains(userConnections, post.account) or post.account == currentUser}"
          class="card my-2"
          style="width: 18rem;"
        >
          <div class="card-body">
            <h5 class="card-title" th:text="${post.account.profileName}">
              Author
            </h5>
            <h6
              class="card-subtitle mb-2 text-muted"
              th:text="${post.publishedOn}"
            >
              Date
            </h6>
            <p class="card-text" th:text="${post.content}">content</p>
            <div>
              <form
                th:action="@{/posts/{id}/comment/(id=${currentUser.id}, postId=${post.id})}"
                method="POST"
              >
                <textarea
                  name="content"
                  placeholder="Comment"
                  class=""
                ></textarea>
                <input type="submit" class="d-inline-block btn-info" />
              </form>
              <form
                th:action="@{/posts/{id}/upvote/(id=${currentUser.id}, postId=${post.id})}"
                method="POST"
                class="my-3"
              >
                <input
                  type="submit"
                  class="btn-success d-block"
                  value="Upvote!"
                />
              </form>
              <span class="font-weight-bold"
                >Upvotes: <span th:text="${#lists.size(post.likes)}"></span>
              </span>
            </div>
            <h6>Comments</h6>
            <ul
              th:if="${post.comments} != null and ${iterStat.index >= iterStat.size-10}"
              th:each="comment, iterStat: ${post.comments}"
            >
              <li
                style="list-style-type: none;"
                class="bg-light"
                th:text="'&quot;' + ${comment.content}+ '&quot;'"
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <h4>New Post</h4>
      <form th:action="@{/posts/(accountId=${currentUser.id})}" method="POST">
        <textarea type="text" name="content"></textarea>
        <input type="submit" class="d-block btn btn-info" />
      </form>
    </div>
  </body>
</html>
