<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <meta charset="UTF-8" />
    <title>Users</title>
  </head>
  <body>
    <h2>Users</h2>

    <ol>
      <li th:each="account : ${users}">
        <span th:text="${account.username}">msg</span>
      </li>
    </ol>

    <form method="POST" th:action="@{/users}">
      <input type="text" name="username" />
      <input type="password" name="password" />
      <input type="text" name="profile name" />
      <input type="submit" value="Add User" />
    </form>
  </body>
</html>
